@import "tailwindcss";
@import "../tailwind/components.css" layer(components);
@import "tw-animate-css";

:root {
  /* Base Colors */
  --current: currentColor;
  --transparent: transparent;
  --black: oklch(0 0 0 / 1);
  --white: oklch(0.98 0 0 / 1);
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.97 0 0);
  --accent: oklch(0.97 0 0);
  --neutral: oklch(0.31 0.02 254.14 / 1);
  --info: oklch(0.76 0.14 231.62 / 1);
  --success: oklch(0.77 0.15 163.1 / 1);
  --warning: oklch(0.83 0.16 83.42 / 1);
  --error: oklch(0.71 0.16 22.15 / 1);
  --gradient-first: oklch(0.83 0.18 160.17 / 1);
  --gradient-second: oklch(0.68 0.15 238.98 / 1);

  --base-25: oklch(0.36 0.02 254.1 / 1);
  --base-50: oklch(0.31 0.02 254.14 / 1);
  --base-75: oklch(0.27 0.02 248.44 / 1);
  --base-100: oklch(0.25 0.02 252.42 / 1);
  --base-200: oklch(0.23 0.01 253.1 / 1);
  --base-300: oklch(0.21 0.01 254.09 / 1);

  --base-content: oklch(0.75 0.02 264.44 / 1);

  --primary-focus: color-mix(in oklch, var(--primary), black 7%);
  --primary-content: color-mix(in oklch, var(--primary), white 80%);
  --secondary-focus: color-mix(in oklch, var(--secondary), black 7%);
  --secondary-content: color-mix(in oklch, var(--secondary), white 80%);
  --accent-focus: color-mix(in oklch, var(--accent), black 7%);
  --accent-content: color-mix(in oklch, var(--accent), white 80%);
  --neutral-focus: color-mix(in oklch, var(--neutral), black 3%);
  --neutral-content: color-mix(in oklch, var(--neutral), white 80%);
  --info-content: color-mix(in oklch, var(--info), black 80%);
  --success-content: color-mix(in oklch, var(--success), black 80%);
  --warning-content: color-mix(in oklch, var(--warning), black 80%);
  --error-content: color-mix(in oklch, var(--error), black 80%);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* Apply Colors to Tailwind */
@theme {
  --color-current: var(--current);
  --color-transparent: var(--transparent);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-primary: var(--primary);
  --color-primary-content: var(--primary-content);
  --color-primary-focus: var(--primary-focus);
  --color-secondary: var(--secondary);
  --color-secondary-content: var(--secondary-content);
  --color-secondary-focus: var(--secondary-focus);
  --color-accent: var(--accent);
  --color-accent-content: var(--accent-content);
  --color-accent-focus: var(--accent-focus);
  --color-neutral: var(--neutral);
  --color-neutral-content: var(--neutral-content);
  --color-neutral-focus: var(--neutral-focus);
  --color-info: var(--info);
  --color-info-content: var(--info-content);
  --color-success: var(--success);
  --color-success-content: var(--success-content);
  --color-warning: var(--warning);
  --color-warning-content: var(--warning-content);
  --color-error: var(--error);
  --color-error-content: var(--error-content);
  --color-gradient-first: var(--gradient-first);
  --color-gradient-second: var(--gradient-second);

  --color-base-25: var(--base-25);
  --color-base-50: var(--base-50);
  --color-base-75: var(--base-75);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-content: var(--base-content);
}

.animated-icon {
  & > * {
    @apply transition-all;
  }
  &:hover {
    @apply text-white;
    & > * {
      @apply -translate-x-2;
    }
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
